* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  overscroll-behavior: none;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

::selection {
  background: none;
}

.slider-container {
  --minHeight-mobile: 262px;
  --minHeight-desktop: 500px;
  --gap-mobile: 0.625rem;
  --gap-desktop: 1.25rem;

  --width-img-mobile: 178px;
  --width-img-desktop: 380px;
  --height-img-mobile: 100px;
  --height-img-desktop: 214px;

  --loader-color-ec: #cf9f0d;
  --loader-color-gestion: #b04355;

  margin: auto;
  max-width: 1920px;
  overflow: hidden;
  width: 100%;
  padding: 25px 0;
  display: grid;
  min-height: var(--minHeight-mobile);
  grid-gap: var(--gap-mobile);
  gap: var(--gap-mobile);
}

.slider-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 200px;
}

.slider-loader::after {
  content: ' ';
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid #727272;
  border-color: #727272 transparent #727272 transparent;
  animation: animate-loader 1.2s linear infinite;
}

.slider-container.elcomercio .slider-loader::after {
  border: 4px solid var(--loader-color-ec);
  border-color: var(--loader-color-ec) transparent var(--loader-color-ec)
    transparent;
}

.slider-container.gestion .slider-loader::after {
  border: 4px solid var(--loader-color-gestion);
  border-color: var(--loader-color-gestion) transparent
    var(--loader-color-gestion) transparent;
}

.slider-wrapper {
  position: relative;
  overflow: inherit;
}

.slider {
  display: flex;
  width: max-content;
}

.slider-btns {
  display: none;
  z-index: 9;
}

.slider-btns button {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
  position: absolute;
  top: 0;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}

.slider-btns button:first-child {
  left: 0;
}

.slider-btns button:last-child {
  right: 0;
}

.slide {
  display: block;
  padding-right: var(--gap-mobile);
  pointer-events: none;
}

.slide picture,
.slide img {
  border-radius: 8px;
  display: block;
  height: var(--height-img-mobile);
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  pointer-events: all;
  width: var(--width-img-mobile);
  background: #ededed;
}

@media screen and (min-width: 768px) {
  .slider-container {
    min-height: var(--minHeight-desktop);
    grid-gap: var(--gap-desktop);
    gap: var(--gap-desktop);
  }
  .slider-btns {
    display: block;
  }

  .slide {
    padding-right: var(--gap-desktop);
  }
  .slide picture,
  .slide img {
    height: var(--height-img-desktop);
    width: var(--width-img-desktop);
  }
}

@keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
